/* ========= Free code camp user story ======
User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size.
User Story #9: The img element should be centered within its parent element.
*/

/*======== GENERAL STYLES ========*/
* {
  /* ========= COLOR SCHEME ======*/
  --darkaccent:#2e263b;
  --lightaccent:#c3c0c7;
  --neutral:#383838;
  /* ========= =========== ======*/
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  color:var(--neutral);
  font-family: 'Aleo', serif;
  font-size: 1.1rem;
}

main {
  margin-left: 10vw;
  margin-right: 10vw;
}

/* =========== LINKS ==========*/
a:link {
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: underline;
  color:var(--lightaccent);
  }

a:active {
  text-decoration: underline;
  background-color:white;
  color:var(--darkaccent);
}


/* ========= NAVIGATION BAR ======*/
nav {
  font-family: 'Cherry Swash', 'Aleo' sans-serif;
  background-color: black;
  color: white;
  margin:0px;
  padding:1em;
  }

nav ol {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10rem;
  margin-right: 10rem;

}

nav li {
  color:white;
}

/* ========= RAVEN BANNER ======*/
/*
.banner {
  display: block;
  margin:0;
  max-widith:100vw;
  box-sizing: border-box;
  border: none;
}*/

#raven {
  display: block;
  box-sizing: border-box;
  margin:0;
  padding:0;
  width:100vw;
  max-width:1700px;
  margin-bottom:4rem;
}

#eye {
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  top:3.7rem;
  margin:0;
  padding:0;
  width:100vw;
  max-width:1700px;
}

hgroup {
  font-family: 'Cherry Swash', 'Aleo' sans-serif;
  position:absolute;
  top:14rem;
  left:5rem;
  }

#title {
  color:white;
  font-size: 3rem;
}
#subtitle {
  color:white;
  font-size: 1.4rem;
}


/* ========= MAIN PARAGRAPH ======*/
main h2 {
  font-family: 'Cherry Swash', 'Aleo' sans-serif;
  font-size: 2rem;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
}

main li {
  margin-left: 1.5em;
}

main p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* ========= INTRO - profile & blocquote ======*/
#intro {
  display:flex;
  justify-content:space-between;
}

.quote {
  font-style: italic;
  }

#image {
  display:block;
  box-sizing: border-box;
  max-width:35vw;
  margin-right: 5rem;
  padding:0;
}

#img-caption {
  margin-left: 2em;
  align-self: center;

}

blockquote {
  font-family: Aleo, serif;
  }

#quotesource {
  font-weight: 700;
  font-style: italic;
  text-align: right;
}


#background-item {
  background-color: var(--lightaccent);
  width:50vw;
  height:50vw;
  position:absolute;
  z-index:-1;
}





/* ========= BOOK COVERS ======*/
#book-covers {
  display:flex;
  box-sizing: border-box;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  padding:20px;
  max-widith:1000px;
  }

/* ========= TABLE ======*/
table {
  display: table;
  border-collapse: collapse;
  border: 2px dotted white;
  background-color: var(--lightaccent);
}

th {
  border: 2px solid white;
  padding: 0.5em;
}

td {
  border: 2px solid white;
  padding: 0.5em;
}


/* ========= FOOTER ======*/
footer {
  font-family: 'Cherry Swash', 'Aleo' sans-serif;
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin: 0px;
  margin-top: 10vh;
  width: 100vw;
  padding:0.8rem;
  text-align: center;
  position:relative;
  z-index: 1;
  }

#galaxy {
  display: block;
  box-sizing: border-box;
  margin:0;
  padding:0;
  width:100vw;
  max-width:1700px;
  }

.goodreads  {
  color: white;
  font-size: 2.5rem;
  position:absolute;
  bottom:6rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index:111;
  }

#tribute-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#goodreadslogo {
  height: 2.2rem;
  max-height: 100px;
}


footer p {
  font-size: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  color:var(--lightaccent);
  }

footer p a {
  font-size: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  color:white;
}
